.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

h1 {
  text-align:center;
  padding: 20px;
}

/* Item wrapper */
.outer-wrapper{
  display: inline-block;
}

/* Image container */
.frame {
  width: 100px;
  height: 100px;
  padding: 16px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  vertical-align: middle;
  text-align: center;
  display: table-cell;

}
img {
  object-fit: cover;
  max-width:100%;
  max-height:100%;
}

/* CSS for Slick - Makes slick container same size as the frame*/
.slick-slide {
  margin: 20px;
  width:100px;
  height: 100px;
}
